body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #dadde1;
    margin: 0;
    padding: 0;
    background-color: #3325a0;
}

.navbar {
    font-size: 16px;
    background-color: rgb(30, 3, 99);
    color: azure !important;
}

.navbar-text,
.navbar-brand {
    color: rgb(144, 141, 141) !important;
}

.navbar .nav-link {
    color: rgb(144, 141, 141) !important;
}

header {
    margin-top: 90px;
}

.card .text-center{
    margin-top: 20px;
    background-color: #350257;

}
.card-body {
    background-color: #1062a0;
    color: #1f6993;
    border: 2px solid #060606;
}

.card .form-group {
    background-color: #1062a0;
    color: #dadde1;
}
.card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    transition:.3s;
    background-color: rgba(31, 55, 164, 0.5)
}
.card:hover{
    transform:translateY(-10px);
}

img{
    border-radius:20px;
}

section{
    padding-top:80px;
    padding-bottom:80px;
}

.card input,
.card textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #0e0e0f;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #dadde1;
    color: #040404;
}

.card input:focus,
.card textarea:focus {
    outline: none;
    border-color: #8a3fc4;
    box-shadow: 0 0 5px rgba(232, 218, 244, 0.5);
}

.card .btn-secondary {
    background-color: #0c0570;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.card .btn-secondary:hover {
    background-color: #323b84;
}

.redes-sociales a{
    color: #cbd5e1;
    text-decoration: none;
    margin: 0 10px;
    transition: .3s;
}

.redes-sociales a:hover{
    color: #d4af37;
}

.whatsapp-float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    right:25px;
    background:#25D366;
    color:white;
    border-radius:50%;
    text-align:center;
    line-height:60px;
    font-size:30px;
    text-decoration:none;
    z-index:999;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

#map {
    width: 100%;
    height: 100%;
}